@font-face {
    font-family: 'Fira Sans Condensed Regular'; /* Имя шрифта */
    src: url("../fonts/FiraSansCondensed-Regular.woff"); /* Путь к файлу со шрифтом */
   }
@font-face {
    font-family: 'Fira Sans Condensed Medium'; /* Имя шрифта */
    src: url("../fonts/FiraSansCondensed-Medium.woff"); /* Путь к файлу со шрифтом */
   }
@font-face {
    font-family: 'Fira Sans Extra Condensed Medium'; /* Имя шрифта */
    src: url("../fonts/FiraSansExtraCondensed-Medium.woff"); /* Путь к файлу со шрифтом */
   }
@font-face {
    font-family: 'OpenSans-Regular'; /* Имя шрифта */
    src: url("../fonts/OpenSans-Regular.ttf"); /* Путь к файлу со шрифтом */
   }
@font-face {
    font-family: 'Fira Sans Extra Condensed Medium'; /* Имя шрифта */
    src: url("../fonts/FiraSansExtraCondensed-Medium.woff"); /* Путь к файлу со шрифтом */
   }