@font-face {
    font-family: 'SF UI Display Semibold'; /* Имя шрифта */
    src: url("../fonts/SFUIText-Semibold.woff"); /* Путь к файлу со шрифтом */
   }
@font-face {
    font-family: 'SF UI Display Medium'; /* Имя шрифта */
    src: url("../fonts/SFUIDisplay-Medium.woff"); /* Путь к файлу со шрифтом */
   }
@font-face {
    font-family: 'SF UI Display Light'; /* Имя шрифта */
    src: url("../fonts/SFUIText-Light.woff"); /* Путь к файлу со шрифтом */
   }
@font-face {
    font-family: 'SF UI Display Thin'; /* Имя шрифта */
    src: url("../fonts/SFUIDisplay-Thin.woff"); /* Путь к файлу со шрифтом */
   }  
@font-face {
    font-family: 'SF UI Display Regular'; /* Имя шрифта */
    src: url("../fonts/SFUIDisplay-Regular.woff"); /* Путь к файлу со шрифтом */
   }     
@font-face {
    font-family: 'HelveticaNeueCyr Light'; /* Имя шрифта */
    src: url("../fonts/HelveticaNeueCyr-Light.woff"); /* Путь к файлу со шрифтом */
   }
@font-face {
    font-family: 'HelveticaNeueCyr Roman'; /* Имя шрифта */
    src: url("../fonts/HelveticaNeueCyr-Roman.woff"); /* Путь к файлу со шрифтом */
   } 
