
/* sizes */
$break-small: 320px;
$break-large: 1200px;
/* Colors */

/* Fonts */
$fall-back-font: 'Ubuntu', Arial, sans-serif;
$sfcR: 'Fira Sans Condensed Regular', $fall-back-font;
$sfcM: 'Fira Sans Condensed Medium', $fall-back-font; /* using */
$sfecM: 'Fira Sans Extra Condensed Medium', $fall-back-font;
$osR: 'OpenSans-Regular', $fall-back-font;

