<%= _.template(require('./../includes/header.html'))() %>


<section id="nova-journal">
	<div class="journal-cards-wrapp">
		<div class="container">
			<div class="row">
				<!-- Journal card start -->
				<div class="col-xl-4">
					<div class="journal-card" style="background-image: url(../img/nova-journal/journal-article-bg-f.png);">
						<div class="journal-card_shadow"></div>
						<a href="#" class="journal-card_link"></a>
						<div class="journal-card_body">	
							<div class="journal-card_body__head d-flex flex-row">
								<div class="journal-card_body__head___reading-time d-flex align-items-center">
									<i class="far fa-clock"></i>
									<span>3 мин</span>
								</div>
								<div class="journal-card_body__head___assessment ml-auto">
									<i class="far fa-heart"></i>
								</div>
							</div>
							<div class="journal-card_body__intro">
								<div class="journal-card_body__intro___publish-date">
									<span>15 августа</span>
								</div>
								<div class="journal-card_body__intro___article-title">
									<span>Юзабилити современных форм</span>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- Journal card end -->
				<!-- Journal card start -->
				<div class="col-xl-4">
					<div class="journal-card" style="background-image: url(../img/nova-journal/journal-article-bg-s.png);">
						<div class="journal-card_shadow"></div>
						<a href="#" class="journal-card_link"></a>
						<div class="journal-card_body">	
							<div class="journal-card_body__head d-flex flex-row">
								<div class="journal-card_body__head___reading-time d-flex align-items-center">
									<i class="far fa-clock"></i>
									<span>3 мин</span>
								</div>
								<div class="journal-card_body__head___assessment ml-auto">
									<i class="far fa-heart"></i>
								</div>
							</div>
							<div class="journal-card_body__intro-second">
								<div class="journal-card_body__intro-second___publish-date">
									<span>15 августа</span>
								</div>
								<div class="journal-card_body__intro-second___article-title">
									<span class="underline--magical">Повышаем конверсию сайта</span>
								</div>
								<div class="journal-card_body__intro-second___text">
									<p>Разьеремся с аспектами алияющими на повышение и понимажение конверсии в рамках определенного продукт...</p>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- Journal card end -->

				<!-- Journal card start -->
				<div class="col-xl-4">
					<div class="journal-card-st">
						
						<a href="#" class="journal-card_link"></a>
						<div class="journal-card-st_body">
							<div class="journal-card-st_body__picture">
								<div class="journal-card_shadow"></div>
							</div>	
							<div class="journal-card-st_body__head d-flex flex-row">
								<div class="journal-card-st_body__head___assessment ml-auto">
									<i class="far fa-heart"></i>
								</div>
							</div>
							<div class="journal-card-st_body__intro">
								<div class="journal-card-st_body__intro___info-bar d-flex flex-row">
									<div class="journal-card-st_body__intro___info-bar____publish-date">
										15 августа
									</div>
									<div class="journal-card-st_body__intro___info-bar____reading-time ml-auto d-flex align-items-center">
										<i class="far fa-clock"></i>
										<span>3 мин</span>
									</div>
								</div>
								<div class="journal-card-st_body__intro___article-title">
									<span>Наш путь в топ Российских веб студий за год с небольшим</span>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- Journal card end -->
			</div>
		</div>
	</div>
</section>


<%= _.template(require('./../includes/footer.html'))() %>