<%= _.template(require('./../includes/header.html'))() %>





<section id="about-us-header" class="about-us-header">
	<div class="container-fluid">
		<div class="row">
			<div class="col-xl-5 d-flex">
				<div class="about-us-pic-wrapper  cole">
					<div class="about-us-pic">
						
					</div>
				</div>
			</div>
			<div class="col-xl-7">
				<div class="about-us-head">
					<span class="heading-type-one">
						Агенство <span class="red">NOVA</span>.Red —— <br> Немного о нас
					</span>

					<div class="about-us-info">
						<div class="row">
							<div class="col-xl-1">
								<img src="./img/logo-red.svg" height="73" width="auto" alt="">
							</div>
							<div class="col-xl-3">
								<div class="about-us-info_name d-flex flex-column">
									<span>
										Агентсво <br> NOVA.Red
									</span>
									<span>
										Design & Development
									</span>
								</div>
							</div>
							<div class="col-xl-1 about-us-info-link d-flex flex-column">
								<span>1</span>
								<span>2</span>
								<span>3</span>

							</div>
							<div class="col-xl-1 about-us-info-link offset-xl-2 d-flex flex-column">
								<span>123</span>
								<span>123</span>
							</div>
						</div>
					</div>
					<div class="about-us-info-text">
						<div class="row">
							<div class="col-xl-4">
								<div class="about-us-text">
									<p>
										На протяжении многих лет Helvetica была расширена и включала в себя множество разных начертаний, но они не были согласованы друг с другом. В 1983 году Д. Штемпель AG переработал и оцифровал шрифт «Neue Helvetica» 
									</p>
								</div>
							</div>
							<div class="col-xl-4">
								<div class="about-us-text">
									<p>
										Helvetica была расширена и включала в себя множество разных начертаний, но они не были согласованы друг с другом. В 1983 году Д. Штемпель AG переработал и оцифровал шрифт 
									</p>
								</div>
							</div>
						</div>
					</div>
					<div class="about-us-info-button">
						<button>Submit</button>
					</div>
				</div>

			</div>
		</div>
	</div>
</section>





<%= _.template(require('./../includes/footer.html'))() %>