<%= _.template(require('./../includes/header.html'))() %>

<main class="Site-content">

<!-- Start -->
<section id="first-view" class="first-view">
	<div class="main-headind d-flex flex-column justify-content-center">
		<span class="main-headind_title">
			Catering gusto group
		</span>
		<span class="main-headind_label">
			Комфортный сервис по обслуживанию <br> вашего мероприятия
		</span>
		<div class="main-headind_button">
			<a href="#" class="white-btn">Оставить заявку</a>
		</div>
	</div>
	<div class="first-view_footer">
		 <div class="container-fluid">
		 	<div class="d-flex justify-content-around flex-row">
			 	<div class="first-view_footer__social-media">
			 		<i class="fab fa-instagram"></i>
			 		<i class="fab fa-vk"></i>
			 	</div>
			 	<div class="first-view_footer__line">
			 		<hr>
			 	</div>
			 	<div class="first-view_footer__arrow">
			 		<svg aria-hidden="true" focusable="false" data-prefix="fal" data-icon="chevron-down" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" class="svg-inline--fa fa-chevron-down fa-w-14"><path fill="currentColor" d="M443.5 162.6l-7.1-7.1c-4.7-4.7-12.3-4.7-17 0L224 351 28.5 155.5c-4.7-4.7-12.3-4.7-17 0l-7.1 7.1c-4.7 4.7-4.7 12.3 0 17l211 211.1c4.7 4.7 12.3 4.7 17 0l211-211.1c4.8-4.7 4.8-12.3.1-17z" class=""></path></svg>
			 	</div>
			 	<div class="first-view_footer__line">
			 		<hr>
			 	</div>
			 	<div class="first-view_footer__contacts">
			 		<i class="fab fa-instagram"></i>
			 		<i class="fab fa-vk"></i>
			 	</div>
		 	</div>
		 </div>
	</div>
</section>
<!-- End -->
<!-- Start -->
<section id="second-view" class="second-view">
 	<div class="container">
 		<div class="row" style="height: 100%;">
 			<div class="col-xl-7">333</div>
 			<div class="col-xl-4">123</div>
 		</div>
 	</div>
</section>
<!-- End -->
<!-- Start -->
<section id="third-view" class="third-view">
 	
</section>
<!-- End -->

<!-- Start -->
<section id="fourth-view" class="fourth-view">
 	
</section>
<!-- End -->

<!-- Start -->
<section id="fifth-view" class="fifth-view">
 	
</section>
<!-- End -->

<!-- Start -->
<section id="sixth-view" class="sixth-view">
 	
</section>
<!-- End -->

<!-- Start -->
<section id="seventh-view" class="seventh-view">
 	
</section>
<!-- End -->

<!-- Start -->
<section id="eight-view" class="eight-view">
 	
</section>
<!-- End -->
</main>
<%= _.template(require('./../includes/footer.html'))() %>