<% var data = {
  title: "Второй заголовок | Проект",
  author: "Harrix"
}; %>
<%= _.template(require('./../includes/header.html'))(data) %>
<body data-spy="scroll" data-target="#myScrollspy" data-offset="1">

<section id="services-page">
	<div class="container">
		<div class="row no-gutters">
			<div class="col-lg-3">
			    <nav id="myScrollspy">
			      <ul class="nav nav-pills flex-column">
			        <li class="nav-item">
			          <a class="nav-link active" href="#nova_create">Разработка</a>
			        </li>
			        <li class="nav-item">
			          <a class="nav-link" href="#nova_design">Дизайн</a>
			        </li>
			        <li class="nav-item">
			          <a class="nav-link" href="#nova_marketing">Маркетинг</a>
			        </li>
			        <li class="nav-item">
			          <a class="nav-link" href="#nova_analytics">Аналитика</a>
			        </li>
			        <li class="nav-item">
			          <a class="nav-link" href="#nova_process">Процесс</a>
			        </li>
			      </ul>
			    </nav>			
			</div>
			<div class="col-lg-9" style="margin-left: -34px;">
				<!-- Nova create block start -->
				<div class="nova_create">
					<div class="nova_create__title">
						<span class="heading-type-one">Агенство <span class="red">NOVA</span>.Red ——  <br>Создает </span>
					</div>
					<div class="nova_service__intro">
						<p>
							Создаем digital-инструменты, которые помогают развиваться компаниям и делают легче жизнь их клиентов. Бренды, с которыми мы сотрудничаем, знают и любят во всем мире компаний. Поэтому наши проекты не только решают технические задачи, но и передают илософию.Поэтому наши проекты не только решают технические задачи, но и передают философию. Поэтому наши проекты не только решают технические задачи, но и передают философию. 
						</p>
					</div>
					<!-- Cards start -->
					<div class="nova_service__cards">
						<div class="row">
							<!-- Card start -->
							<div class="col-lg-4 d-flex">
								<div class="nova_card cole">
									<div class="nova_card__icon">
										<img src="src/img/icons/icon-first.png" alt="">
									</div>
									<div class="nova_card__title">
										<span class="heading-type-three">
											Корпоративный сайт
										</span>
									</div>
									<div class="nova_card__intro">
										<p>Лицо вашей компании в сети</p>
									</div>
									<div class="nova_card__price">
										<span>от 90 000р</span>
									</div>
								</div>
							</div>
							<!-- Card end -->
							<!-- Card start -->
							<div class="col-lg-4 d-flex">
								<div class="nova_card cole">
									<div class="nova_card__icon">
										<img src="src/img/icons/icon-first.png" alt="">
									</div>
									<div class="nova_card__title">
										<span class="heading-type-three">
											Интернет каталог
										</span>
									</div>
									<div class="nova_card__intro">
										<p>Каталог вашей продукции и предложений с возможностью взаимодействия</p>
									</div>
									<div class="nova_card__price">
										<span>от 120 000р</span>
									</div>
								</div>
							</div>
							<!-- Card end -->
							<!-- Card start -->
							<div class="col-lg-4 d-flex">
								<div class="nova_card cole">
									<div class="nova_card__icon">
										<img src="src/img/icons/icon-first.png" alt="">
									</div>
									<div class="nova_card__title">
										<span class="heading-type-three">
											Интернет магазин
										</span>
									</div>
									<div class="nova_card__intro">
										<p>Интернет ресурс для продажи ваших товаров и услуг</p>
									</div>
									<div class="nova_card__price">
										<span>от 160 000р</span>
									</div>
								</div>
							</div>
							<!-- Card end -->
							<!-- Card start -->
							<div class="col-lg-4 d-flex">
								<div class="nova_card cole">
									<div class="nova_card__icon">
										<img src="src/img/icons/icon-first.png" alt="">
									</div>
									<div class="nova_card__title">
										<span class="heading-type-three">
											Сайт на конструкторе
										</span>
									</div>
									<div class="nova_card__intro">
										<p>
											Веб-сайт созданный на платформе Tilda или Redymag
										</p>
									</div>
									<div class="nova_card__price">
										<span>от 40 000р</span>
									</div>
								</div>
							</div>
							<!-- Card end -->
							<!-- Card start -->
							<div class="col-lg-4 d-flex">
								<div class="nova_card cole">
									<div class="nova_card__icon">
										<img src="src/img/icons/icon-first.png" alt="">
									</div>
									<div class="nova_card__title">
										<span class="heading-type-three">
											Типовые решения
										</span>
									</div>
									<div class="nova_card__intro">
										<p>
											Мобильные и десктомпные приложения под ваши нужно
										</p>
									</div>
									<div class="nova_card__price">
										<span>от 40 000р</span>
									</div>
								</div>
							</div>
							<!-- Card end -->
							<!-- Card start -->
							<div class="col-lg-4 d-flex">
								<div class="nova_card cole">
									<div class="nova_card__icon">
										<img src="src/img/icons/icon-first.png" alt="">
									</div>
									<div class="nova_card__title">
										<span class="heading-type-three">
											Приложения
										</span>
									</div>
									<div class="nova_card__intro">
										<p>
											Мобильные и десктомпные приложения под ваши нужно
										</p>
									</div>
									<div class="nova_card__price">
										<span>от 90 000р</span>
									</div>
								</div>
							</div>
							<!-- Card end -->
						</div>
					</div>
					<!-- Cards end -->
					<div class="nova_service__description">
						<p>
							Проводим UX-исследование, анализируем потребности клиента и создаем дизайн-концепцию с учетом особенностей целевой аудитории.
						</p>
						<div class="description__body">
							<div class="row no-gutters">
								<div class="col-lg-12">
									<div class="description_heading">
										<span class="heading-type-two">
											User Experience
										</span>
									</div>								
								</div>
								<div class="col-lg-6">
									<div class="description_body__item">
										<span class="heading-type-three-special">
											UX-исследование
										</span>
										<div class="description_body__item___intro">
											<p>
												Создание персонажей, моделирование сценариев потребителей (Customer Journey Map), прототипирование, создание грубого прототипа, детализация прототипа, создание интерактивного прототипа, анимация, повышающая удобство (Usability Animation), юзабилити-тестирование.
											</p>
										</div>
									</div>
								</div>
								<div class="col-lg-6">
									<div class="description_body__item">
										<span class="heading-type-three-special">
											UX-проектирование
										</span>
										<div class="description_body__item___intro">
											<p>Первичное изучение клиента (брифинг), глубинное интервью респондентов, анализ диалогов и выводы.</p>
										</div>
									</div>
								</div>
							</div>
						</div>

						<div class="description__body">
							<div class="row no-gutters">
								<div class="col-lg-12">
									<div class="description_heading">
										<span class="heading-type-two">
											User Interface
										</span>
									</div>								
								</div>
								<div class="col-lg-6">
									<div class="description_body__item">
										<span class="heading-type-three-special">
											Дизайн-концепция и гайды
										</span>
										<div class="description_body__item___intro">
											<p>
												Основная функциональная страница, руководство по анимации интерфейса (Interface Animation Guide), стиль всех элементов интерфейса (UI Kit), видео-презентация дизайн-концепции.
											</p>
										</div>
									</div>
								</div>
								<div class="col-lg-6">
									<div class="description_body__item">
										<span class="heading-type-three-special">
											Дизайн макетов
										</span>
										<div class="description_body__item___intro">
											<p>
												Контент, макеты, адаптация.
											</p>
										</div>
									</div>
								</div>
							</div>
						</div>

					</div>
				</div>
				<!-- Nova create block end -->
				<!-- Nova DESIGN block start -->
				<div class="nova_design" id="nova_design">
					<div class="nova_design__title">
						<span class="heading-type-one">
							<span class="red">NOVA</span>.Red  —— <br> Задизайнено
						</span>
					</div>
					<div class="nova_service__intro">
						<p>
							Занимаемся разработкой сайтов и приложений. Выполняем полный цикл работ от составления технического задания до запуска в продакшн.
						</p>
					</div>
					<!-- Cards start -->
					<div class="nova_service__cards">
						<div class="row">
							<!-- Card start -->
							<div class="col-lg-4 d-flex">
								<div class="nova_card cole">
									<div class="nova_card__icon">
										<img src="src/img/icons/icon-first.png" alt="">
									</div>
									<div class="nova_card__title">
										<span class="heading-type-three">
											Корпоративный сайт
										</span>
									</div>
									<div class="nova_card__intro">
										<p>Лицо вашей компании в сети</p>
									</div>
									<div class="nova_card__price">
										<span>от 90 000р</span>
									</div>
								</div>
							</div>
							<!-- Card end -->	
							<!-- Card start -->
							<div class="col-lg-4 d-flex">
								<div class="nova_card cole">
									<div class="nova_card__icon">
										<img src="src/img/icons/icon-first.png" alt="">
									</div>
									<div class="nova_card__title">
										<span class="heading-type-three">
											Корпоративный сайт
										</span>
									</div>
									<div class="nova_card__intro">
										<p>Лицо вашей компании в сети</p>
									</div>
									<div class="nova_card__price">
										<span>от 90 000р</span>
									</div>
								</div>
							</div>
							<!-- Card end -->	
							<!-- Card start -->
							<div class="col-lg-4 d-flex">
								<div class="nova_card cole">
									<div class="nova_card__icon">
										<img src="src/img/icons/icon-first.png" alt="">
									</div>
									<div class="nova_card__title">
										<span class="heading-type-three">
											Корпоративный сайт
										</span>
									</div>
									<div class="nova_card__intro">
										<p>Лицо вашей компании в сети</p>
									</div>
									<div class="nova_card__price">
										<span>от 90 000р</span>
									</div>
								</div>
							</div>
							<!-- Card end -->	
							<!-- Card start -->
							<div class="col-lg-4 d-flex">
								<div class="nova_card cole">
									<div class="nova_card__icon">
										<img src="src/img/icons/icon-first.png" alt="">
									</div>
									<div class="nova_card__title">
										<span class="heading-type-three">
											Корпоративный сайт
										</span>
									</div>
									<div class="nova_card__intro">
										<p>Лицо вашей компании в сети</p>
									</div>
									<div class="nova_card__price">
										<span>от 90 000р</span>
									</div>
								</div>
							</div>
							<!-- Card end -->	
							<!-- Card start -->
							<div class="col-lg-4 d-flex">
								<div class="nova_card cole">
									<div class="nova_card__icon">
										<img src="src/img/icons/icon-first.png" alt="">
									</div>
									<div class="nova_card__title">
										<span class="heading-type-three">
											Корпоративный сайт
										</span>
									</div>
									<div class="nova_card__intro">
										<p>Лицо вашей компании в сети</p>
									</div>
									<div class="nova_card__price">
										<span>от 90 000р</span>
									</div>
								</div>
							</div>
							<!-- Card end -->	
						</div>
					</div>
					<!-- Cards end -->		
				</div>
				<!-- Nova DESIGN block end -->
				<!-- Nova Marketing block start -->
				<div class="nova_design" id="nova_marketing">
					<div class="nova_marketing__title">
						<span class="heading-type-one">
							<span class="red">NOVA</span>.Red  —— <br> Маркетинг
						</span>
					</div>
					<div class="nova_service__intro">
						<p>
							Занимаемся разработкой сайтов и приложений. Выполняем полный цикл работ от составления технического задания до запуска в продакшн.
						</p>
					</div>
					<!-- Cards start -->
					<div class="nova_service__cards">
						<div class="row">
							<!-- Card start -->
							<div class="col-lg-4 d-flex">
								<div class="nova_card cole">
									<div class="nova_card__icon">
										<img src="src/img/icons/icon-first.png" alt="">
									</div>
									<div class="nova_card__title">
										<span class="heading-type-three">
											Корпоративный сайт
										</span>
									</div>
									<div class="nova_card__intro">
										<p>Лицо вашей компании в сети</p>
									</div>
									<div class="nova_card__price">
										<span>от 90 000р</span>
									</div>
								</div>
							</div>
							<!-- Card end -->	
							<!-- Card start -->
							<div class="col-lg-4 d-flex">
								<div class="nova_card cole">
									<div class="nova_card__icon">
										<img src="src/img/icons/icon-first.png" alt="">
									</div>
									<div class="nova_card__title">
										<span class="heading-type-three">
											Корпоративный сайт
										</span>
									</div>
									<div class="nova_card__intro">
										<p>Лицо вашей компании в сети</p>
									</div>
									<div class="nova_card__price">
										<span>от 90 000р</span>
									</div>
								</div>
							</div>
							<!-- Card end -->	
							<!-- Card start -->
							<div class="col-lg-4 d-flex">
								<div class="nova_card cole">
									<div class="nova_card__icon">
										<img src="src/img/icons/icon-first.png" alt="">
									</div>
									<div class="nova_card__title">
										<span class="heading-type-three">
											Корпоративный сайт
										</span>
									</div>
									<div class="nova_card__intro">
										<p>Лицо вашей компании в сети</p>
									</div>
									<div class="nova_card__price">
										<span>от 90 000р</span>
									</div>
								</div>
							</div>
							<!-- Card end -->	
							<!-- Card start -->
							<div class="col-lg-4 d-flex">
								<div class="nova_card cole">
									<div class="nova_card__icon">
										<img src="src/img/icons/icon-first.png" alt="">
									</div>
									<div class="nova_card__title">
										<span class="heading-type-three">
											Корпоративный сайт
										</span>
									</div>
									<div class="nova_card__intro">
										<p>Лицо вашей компании в сети</p>
									</div>
									<div class="nova_card__price">
										<span>от 90 000р</span>
									</div>
								</div>
							</div>
							<!-- Card end -->	
							<!-- Card start -->
							<div class="col-lg-4 d-flex">
								<div class="nova_card cole">
									<div class="nova_card__icon">
										<img src="src/img/icons/icon-first.png" alt="">
									</div>
									<div class="nova_card__title">
										<span class="heading-type-three">
											Корпоративный сайт
										</span>
									</div>
									<div class="nova_card__intro">
										<p>Лицо вашей компании в сети</p>
									</div>
									<div class="nova_card__price">
										<span>от 90 000р</span>
									</div>
								</div>
							</div>
							<!-- Card end -->	
						</div>
					</div>
					<!-- Cards end -->		
				</div>
				<!-- Nova Marketing block end -->
				<!-- Nova Аnalytics block start -->
				<div class="nova_design" id="nova_analytics">
					<div class="nova_analytics__title">
						<span class="heading-type-one">
							<span class="red">NOVA</span>.Red  —— <br> Аналитика
						</span>
					</div>
					<div class="nova_service__intro">
						<p>
							Занимаемся разработкой сайтов и приложений. Выполняем полный цикл работ от составления технического задания до запуска в продакшн.
						</p>
					</div>
					<!-- Cards start -->
					<div class="nova_service__cards">
						<div class="row">
							<!-- Card start -->
							<div class="col-lg-4 d-flex">
								<div class="nova_card cole">
									<div class="nova_card__icon">
										<img src="src/img/icons/icon-first.png" alt="">
									</div>
									<div class="nova_card__title">
										<span class="heading-type-three">
											Корпоративный сайт
										</span>
									</div>
									<div class="nova_card__intro">
										<p>Лицо вашей компании в сети</p>
									</div>
									<div class="nova_card__price">
										<span>от 90 000р</span>
									</div>
								</div>
							</div>
							<!-- Card end -->	
							<!-- Card start -->
							<div class="col-lg-4 d-flex">
								<div class="nova_card cole">
									<div class="nova_card__icon">
										<img src="src/img/icons/icon-first.png" alt="">
									</div>
									<div class="nova_card__title">
										<span class="heading-type-three">
											Корпоративный сайт
										</span>
									</div>
									<div class="nova_card__intro">
										<p>Лицо вашей компании в сети</p>
									</div>
									<div class="nova_card__price">
										<span>от 90 000р</span>
									</div>
								</div>
							</div>
							<!-- Card end -->	
							<!-- Card start -->
							<div class="col-lg-4 d-flex">
								<div class="nova_card cole">
									<div class="nova_card__icon">
										<img src="src/img/icons/icon-first.png" alt="">
									</div>
									<div class="nova_card__title">
										<span class="heading-type-three">
											Корпоративный сайт
										</span>
									</div>
									<div class="nova_card__intro">
										<p>Лицо вашей компании в сети</p>
									</div>
									<div class="nova_card__price">
										<span>от 90 000р</span>
									</div>
								</div>
							</div>
							<!-- Card end -->	
							<!-- Card start -->
							<div class="col-lg-4 d-flex">
								<div class="nova_card cole">
									<div class="nova_card__icon">
										<img src="src/img/icons/icon-first.png" alt="">
									</div>
									<div class="nova_card__title">
										<span class="heading-type-three">
											Корпоративный сайт
										</span>
									</div>
									<div class="nova_card__intro">
										<p>Лицо вашей компании в сети</p>
									</div>
									<div class="nova_card__price">
										<span>от 90 000р</span>
									</div>
								</div>
							</div>
							<!-- Card end -->	
							<!-- Card start -->
							<div class="col-lg-4 d-flex">
								<div class="nova_card cole">
									<div class="nova_card__icon">
										<img src="src/img/icons/icon-first.png" alt="">
									</div>
									<div class="nova_card__title">
										<span class="heading-type-three">
											Корпоративный сайт
										</span>
									</div>
									<div class="nova_card__intro">
										<p>Лицо вашей компании в сети</p>
									</div>
									<div class="nova_card__price">
										<span>от 90 000р</span>
									</div>
								</div>
							</div>
							<!-- Card end -->	
						</div>
					</div>
					<!-- Cards end -->		
				</div>
				<!-- Nova Analytics block end -->
				<!-- Nova Process block start -->
				<div class="nova_design" id="nova_process">
					<div class="nova_process__title">
						<span class="heading-type-one">
							<span class="red">NOVA</span>.Red  —— <br> Процесс
						</span>
					</div>
					<div class="nova_service__intro">
						<p>
							Занимаемся разработкой сайтов и приложений. Выполняем полный цикл работ от составления технического задания до запуска в продакшн.
						</p>
					</div>
					<!-- Cards start -->
					<div class="nova_service__cards">
						<div class="row">
							<!-- Card start -->
							<div class="col-lg-4 d-flex">
								<div class="nova_card cole">
									<div class="nova_card__icon">
										<img src="src/img/icons/icon-first.png" alt="">
									</div>
									<div class="nova_card__title">
										<span class="heading-type-three">
											Корпоративный сайт
										</span>
									</div>
									<div class="nova_card__intro">
										<p>Лицо вашей компании в сети</p>
									</div>
									<div class="nova_card__price">
										<span>от 90 000р</span>
									</div>
								</div>
							</div>
							<!-- Card end -->	
							<!-- Card start -->
							<div class="col-lg-4 d-flex">
								<div class="nova_card cole">
									<div class="nova_card__icon">
										<img src="src/img/icons/icon-first.png" alt="">
									</div>
									<div class="nova_card__title">
										<span class="heading-type-three">
											Корпоративный сайт
										</span>
									</div>
									<div class="nova_card__intro">
										<p>Лицо вашей компании в сети</p>
									</div>
									<div class="nova_card__price">
										<span>от 90 000р</span>
									</div>
								</div>
							</div>
							<!-- Card end -->	
							<!-- Card start -->
							<div class="col-lg-4 d-flex">
								<div class="nova_card cole">
									<div class="nova_card__icon">
										<img src="src/img/icons/icon-first.png" alt="">
									</div>
									<div class="nova_card__title">
										<span class="heading-type-three">
											Корпоративный сайт
										</span>
									</div>
									<div class="nova_card__intro">
										<p>Лицо вашей компании в сети</p>
									</div>
									<div class="nova_card__price">
										<span>от 90 000р</span>
									</div>
								</div>
							</div>
							<!-- Card end -->	
							<!-- Card start -->
							<div class="col-lg-4 d-flex">
								<div class="nova_card cole">
									<div class="nova_card__icon">
										<img src="src/img/icons/icon-first.png" alt="">
									</div>
									<div class="nova_card__title">
										<span class="heading-type-three">
											Корпоративный сайт
										</span>
									</div>
									<div class="nova_card__intro">
										<p>Лицо вашей компании в сети</p>
									</div>
									<div class="nova_card__price">
										<span>от 90 000р</span>
									</div>
								</div>
							</div>
							<!-- Card end -->	
							<!-- Card start -->
							<div class="col-lg-4 d-flex">
								<div class="nova_card cole">
									<div class="nova_card__icon">
										<img src="src/img/icons/icon-first.png" alt="">
									</div>
									<div class="nova_card__title">
										<span class="heading-type-three">
											Корпоративный сайт
										</span>
									</div>
									<div class="nova_card__intro">
										<p>Лицо вашей компании в сети</p>
									</div>
									<div class="nova_card__price">
										<span>от 90 000р</span>
									</div>
								</div>
							</div>
							<!-- Card end -->	
						</div>
					</div>
					<!-- Cards end -->		
				</div>
				<!-- Nova Process block end -->
			</div>
		</div>
	</div>
</section>





</body>
<%= _.template(require('./../includes/footer.html'))(data) %>